.contact {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8rem;
    &__container1 {
        width: 600px;
        height: 450px;
        padding-bottom: 2rem;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    &__container2 {
        height: 30rem;
        width: 30rem;

        &__form {
            display: flex;
            flex-direction: column;

            &__title {
                font-size: 3rem;
                font-family: "nofex";
            }
        }
    }
}

.mail {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "primeform-medium";
}

.phone {
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: "primeform-medium";
}

.submit {
    padding: 1rem;
    font-family: "primeform-medium";
}

@media (max-width: 1440px) {
    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        &__container1 {
            padding-top: 2rem;
        }

        &__container2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            &__form {
                width: 100%;

                &__title {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .contact {
        align-items: center;
        height: auto;
    }
    .contact__container1 {
        margin-top: 2rem;
        width: 80%;
        height: 20rem;
    }
    .contact__container2 {
        margin: 0;
        width: 80%;
    }
    .contact__container2__form__title {
        font-size: 2rem;
    }
    .submit {
        margin-bottom: 1rem;
    }
}
@media (max-width: 360px) {
    .contact__container1 {
        width: 80%;
    }
    .contact__container2 {
        margin: 0;
        width: 80%;
    }
    .contact__container2__form__title {
        font-size: 1.5rem;
    }
    .submit {
        margin-bottom: 1rem;
    }
}
