.profile {
    display: grid;
    padding: 10px;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 59%;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "aboutme educacion"
        "intereses educacion";
    &__educacion {
        grid-area: educacion;
        background-color: #dee2e6;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        &__title {
            font-size: 3rem;
            font-family: "nofex";
        }
        &__container {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__curso {
                line-height: 1.7rem;
                font-family: "nofex";
                &__title {
                    font-size: 2rem;
                }
                &__lugar {
                    font-size: 1.2rem;
                    font-family: "primeform-bold";
                    color: #ed7f23;
                }
                &__tiempo {
                    font-size: 0.8rem;
                    color: #6c757d;
                }
            }
        }
    }
    &__aboutme {
        grid-area: aboutme;
        background-color: #dee2e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        &__title {
            font-size: 3rem;
            font-family: "nofex";
        }

        &__text {
            width: 80%;
            font-size: 1.2rem;
            font-family: "primeform-bold";
        }
    }

    &__interests {
        grid-area: intereses;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #dee2e6;
        width: 100%;
        height: 100%;
        &__title {
            font-size: 3rem;
            font-family: "nofex";
        }
        &__container {
            height: 70%;
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            &__text {
                display: flex;
                flex-direction: column;
                font-family: "primeform-black";
                color: #ed7f23;
            }
            .icono-interests {
                font-size: 5rem;
                color: #212529;
            }
        }
    }
}

@media (max-width: 905px) {
    .profile {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 45rem 17rem 20rem;
        gap: 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "educacion"
            "aboutme"
            "intereses";
    }
    .profile__educacion__container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 730px) {
    .profile__educacion__title {
        font-size: 2.5rem;
    }

    .profile__educacion__container__curso {
        line-height: 1.4rem;
        &__title {
            font-size: 1.5rem;
        }
        &__lugar {
            font-size: 1rem;
        }
        &__tiempo {
            font-size: 0.8rem;
        }
    }

    .profile__aboutme__title {
        font-size: 2.5rem;
    }

    .profile__aboutme__text {
        font-size: 1rem;
    }

    .profile__interests__title {
        font-size: 2.5rem;
    }

    .profile__interests__container .icono-interests {
        font-size: 3.5rem;
    }
}

@media (max-width: 360px) {
    .profile__educacion__title {
        font-size: 2rem;
    }

    .profile__educacion__container__curso__title {
        font-size: 1.3rem;
    }
    .profile__educacion__container__curso__lugar {
        font-size: 1rem;
    }
    .profile__educacion__container__curso__tiempo {
        font-size: 0.8rem;
    }

    .profile__aboutme__title {
        font-size: 2rem;
    }

    .profile__aboutme__text {
        font-size: 0.8rem;
    }

    .profile__interests__title {
        font-size: 2rem;
    }

    .profile__interests__container .icono-interests {
        font-size: 2.5rem;
    }

    .profile__interests__container__text {
        font-size: 0.8rem;
    }
}
