* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-principal;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  background: $bg-principal;
}
body::-webkit-scrollbar-thumb {
  background: #696969;
}
body::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
