$primary-color: #7a93bf;
$secondary-color: #212529;
$terciary-color: #ed7f23;

$bg-principal: #f4f4f4;

@font-face {
    font-family: "Candu-Bold";
    src: url(../fonts/Candu/Candu-Bold.ttf);
}
@font-face {
    font-family: "Candu-Condensed";
    src: url(../fonts/Candu/Candu-Condensed.ttf);
}
@font-face {
    font-family: "Candu-Regular";
    src: url(../fonts/Candu/Candu-Regular.ttf);
}
@font-face {
    font-family: "Candu-Rounded";
    src: url(../fonts/Candu/Candu-Rounded-Regular.ttf);
}
@font-face {
    font-family: "primeform-black";
    src: url(../fonts/primeform/PrimeformPro-Black.otf);
}
@font-face {
    font-family: "primeform-bold";
    src: url(../fonts/primeform/PrimeformPro-Bold.otf);
}
@font-face {
    font-family: "primeform-medium";
    src: url(../fonts/primeform/PrimeformPro-Medium.otf);
}
@font-face {
    font-family: "nofex";
    src: url(../fonts/nofex/Nofex.ttf);
}
